@charset "utf-8";

body,
ul,
h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
}

ul {
	padding-left: 0;
	list-style: none;
}

input {
  padding: 2px 12px;
  color: #666;
  font-size: 14px;
  line-height: 1.5;
  background-color: #fff;
	border: 1px solid #ccc;
  outline: none;
}
input[type="text"]:focus, 
input[type="password"]:focus { 
	color: #5cb85c;
  border: 1px solid #5cb85c;
  -webkit-box-shadow: 0 0 3px #5cb85c;
				  box-shadow: 0 0 3px #5cb85c;
}

::-webkit-input-placeholder { 
  color: #999; 
} 
:-moz-placeholder { 
  color: #999; 
} 
::-moz-placeholder { 
  color: #999; 
} 
:-ms-input-placeholder { 
  color: #999; 
}
input-placeholder { 
  color: #999; 
}

body {
	font-family: "PingFangSC-Light","STHeiti Light","helvetica neue","hiragino sans gb",arial,"microsoft yahei ui","microsoft yahei",simsun,sans-serif;
	font-size: 14px;
	color: #666;
}

a {
	color: #666;
	text-decoration: none;
}

a:hover { color: #5cb85c; }

.clearfix:after{
    content:".";
    display:block;
    height:0;
    clear:both;
    visibility:hidden
}

.clearfix{ *zoom:1; }

.container {
	width: 1180px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #fafafa;
}
